<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>Servlet.SignUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>Servlet.LogIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMarkerListByBound</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Servlet.GetMarkerListByBound</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadStory</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Servlet.UploadStory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Journey</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Servlet.Journey</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStory</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Servlet.AddStory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>Servlet.AddComment</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMarkerListByBound</servlet-name>
    <url-pattern>/GetMarkerListByBound</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadStory</servlet-name>
    <url-pattern>/UploadStory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Journey</servlet-name>
    <url-pattern>/Journey</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStory</servlet-name>
    <url-pattern>/AddStory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>

</web-app>