#sidebar {
    line-height:45px;
	font-size:20px;
    height:550px;
    width:500px;
    padding:5px;
	float:right;
	border:dotted;
}

#mapcontent {
}

#map-canvas {
	height: 550px;
	margin: 0px;
	padding: 0px;
}